@import "tailwindcss";

:root {
  --font-syne: 'Syne', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-syne);
}

.font-mono {
  font-family: var(--font-mono);
}